.container {
    background-image: url("https://img.atlasobscura.com/opE-8urhmBCzuU9xG-3lc1aIFM52uBJmQLGLWGei2e4/rs:fill:12000:12000/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL2Fzc2V0/cy81YWViYjhkYy04/OGIyLTRjNTItOTA2/Mi1iZGMzNTY0Mzkz/ZTljODM1OTkzYmQw/NTMyOWFlYzZfMzQ4/MDA4NjI5NDBfZjdm/M2E3ZTU5Nl9rLmpw/Zw.jpg");
    background-size: 80% auto;
    background-position: center top;
    background-repeat: no-repeat;
   }